.button {
  border: none;
  cursor: pointer;
  background: none;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
}

.selected {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 20px;
}
